body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_metabox th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_metabox td,
body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type td,
body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type_options th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type_options td,
body.wp-extend_page_wpextend_custom_fields .form_add_metabox .tr_post_type th, body.wp-extend_page_wpextend_custom_fields .form_add_metabox .tr_post_type td{
	display: none;
}

body.wp-extend_page_wpextend_custom_fields .li_postType.section-buzzpress th, body.wp-extend_page_wpextend_custom_fields .li_postType.section-buzzpress td{
	display: table-cell;
}

body.wp-extend_page_wpextend_custom_fields .ulMetabox{
	list-style: none;
}

body.wp-extend_page_wpextend_custom_fields .liMetabox{
	border: 1px solid rgb(220,220,220);
	background: rgb(245,245,245);
	float: left;
	width: 33%;
	margin: 0 0.5% 0.5% 0;
	padding: 1rem;
	box-sizing: border-box;
}
body.wp-extend_page_wpextend_custom_fields .liMetabox:nth-child(3n){
	margin-right: 0;
}

body.wp-extend_page_wpextend_custom_fields .liCustomField{
	border: 1px solid rgb(220,220,220);
	background: rgb(235,235,235);
   padding: 1rem;
}


.rootAccordionCustomFields { background: none; padding: 0; }


.container_sliderange{ display: table; }
.container_sliderange .div_sliderrange{ margin-bottom: 10px; }







/**
* Module gestionnaire-image-admin
**/
.link_upload_img_wpextend{
	position: relative;
	display: inline-block;
	outline: 0;	
}
	.link_upload_img_wpextend:focus{
		box-shadow: none;
	}
.contner_list_images ul li{
	position: relative;
	display: inline-block;
	margin: 0 10px 10px 0;
	border: none;
    background: none;
    cursor: move;
}
.link_remove_img_wpextend,
.remove_image_gallery{
	display:none;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #0085ba;
	background: #f1f1f1;
	cursor: pointer;
}
.contner_list_images ul li:hover > .link_remove_img_wpextend,
.contner_list_images ul li:hover > .remove_image_gallery{
	display: inline-block;
	text-decoration: none;
}
.contner_list_images ul li:hover > .link_remove_img_wpextend.hidden{
	display: none;
}
	.contner_list_images ul li .link_remove_img_wpextend:hover,
	.contner_list_images ul li .remove_image_gallery:hover{
		color: #006799;
		background: white;
	}