.clear{ clear: both; }

ul.ulWpextendAdmin{

}
	ul li.li_postType{
		display: block;
		float: left;
		width: 33%;
		margin: 0 0.5% 0.5% 0;
		background: white;
		border: 1px solid #ddd;
		padding: 1rem;
		box-sizing: border-box;
	}
	ul li.li_postType:nth-child(3n){
		margin-right: 0;
	}

	/*ul li ul.ulCategory{
		border: 1px solid #ddd;
		padding: 1rem;
	}*/

		ul li ul li ul.ulSingle{
			border: 1px solid #ddd;
			padding: 1rem;
		}



.fieldset_wpextend{
	margin: 0 0.5% 0.5% 0;
	background: white;
	border: 1px solid #ddd;
	padding: 1rem;
	box-sizing: border-box;
}


.form_add_elt_wpextend{
	border: 1px dashed rgb(220,220,220);
	background: rgb(245,245,245);
	padding: 1rem;
	box-sizing: border-box;
}


/**
* Accordion
*/
body.wp-admin .ui-accordion .ui-accordion-header{
	background: white;
	border: 1px solid #ddd;
	padding: 1rem;
	margin: 0;
	outline: none;
	cursor: pointer;
	border-radius: 0;
	font-weight: bold;
	font-size: 14px;
	margin-top: 10px;
}
body.wp-admin .ui-tabs-panel.ui-accordion .ui-accordion-header{ background: #ececec; }
body.wp-admin .ui-accordion .ui-accordion-header.ui-state-hover,
body.wp-admin .ui-accordion .ui-accordion-header.ui-state-active{ color: #0085ba; }
body.wp-admin .ui-accordion .ui-accordion-header.ui-state-active{ background: #ececec; }

body.wp-admin .accordionPostType, .accordionKeyType{
	display: block;
	background: white;
	border: 1px solid #ddd;
	border-top: none;
	padding: 1rem;
	box-sizing: border-box;
}


/**
* Tabs
*/
.ui-tabs-nav li{
	display: inline-block;
	cursor: pointer;
	outline: none;
}
.ui-tabs-nav li a{
	display: inline-block;
	text-decoration: none;
	background: #ececec;
	border: 1px solid #ddd;
	padding: 1rem;
}
.ui-tabs-nav li.ui-state-active a{
	background: #0085ba;
	color: white;
}



/**
* ThickBox
*/
#TB_window{ width: 80% !important; left: 10% !important; margin-left: 0 !important; }
#TB_window iframe{ width: 100% !important; }

/*body.TB_iframe .page-title-action,
body.TB_iframe .edit-slug-box,
body.TB_iframe #metabox_config_buzzpress_sections table tr:first-child th, body.TB_iframe #metabox_config_buzzpress_sections table tr:first-child td,
body.TB_iframe .submitbox #minor-publishing-actions, body.TB_iframe .submitbox #misc-publishing-actions,
body.TB_iframe #adminmenumain,
body.TB_iframe #wpfooter{
	display: none;
}*/
body.TB_iframe #wpcontent, body.TB_iframe #wpfooter{
	margin: 0;
	padding: 0 20px;
}
body.TB_iframe #wpfooter{ display: none; }
/*body.TB_iframe #wpadminbar{
	display: none;
}
body.TB_iframe{
	margin-top: -32px;
}

table tr.tr_input_hidden th, table tr.tr_input_hidden td{
	display: none;
}*/




/**
* Table
*/
body.wp-admin table.table_wpextend tbody tr th{ text-align: right; }
body.wp-admin table.table_wpextend tbody tr th i.description{ display: block; font-weight: 400; }


/**
* input
*/
body.wp-admin .input_text_wpextend{ padding: 10px 0; text-indent: 10px; width: 100%; }
body.wp-admin .input_link_wpextend{ padding: 10px 0; text-indent: 10px; width: 100%; }



/**
* repeat_field
*/
body.wp-admin .repeatable_field{
	margin-right: 10px;
}
body.wp-admin .repeat_field{
	display: inline-block;
    background: #0472aa;
    color: white;
    padding: 4px 10px 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}


















/** OLD custom-field.css */
body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_metabox th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_metabox td,
body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type td,
body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type_options th, body.wp-extend_page_wpextend_custom_fields .form_add_custom_field .tr_post_type_options td,
body.wp-extend_page_wpextend_custom_fields .form_add_metabox .tr_post_type th, body.wp-extend_page_wpextend_custom_fields .form_add_metabox .tr_post_type td{
	display: none;
}

body.wp-extend_page_wpextend_custom_fields .li_postType.section-buzzpress th, body.wp-extend_page_wpextend_custom_fields .li_postType.section-buzzpress td{
	display: table-cell;
}

body.wp-extend_page_wpextend_custom_fields .ulMetabox{
	list-style: none;
}

body.wp-extend_page_wpextend_custom_fields .liMetabox{
	border: 1px solid rgb(220,220,220);
	background: rgb(245,245,245);
	float: left;
	width: 33%;
	margin: 0 0.5% 0.5% 0;
	padding: 1rem;
	box-sizing: border-box;
}
body.wp-extend_page_wpextend_custom_fields .liMetabox:nth-child(3n){
	margin-right: 0;
}

body.wp-extend_page_wpextend_custom_fields .liCustomField{
	border: 1px solid rgb(220,220,220);
	background: rgb(235,235,235);
   padding: 1rem;
}


.rootAccordionCustomFields { background: none; padding: 0; }


.container_sliderange{ display: table; }
.container_sliderange .div_sliderrange{ margin-bottom: 10px; }







/**
* Module gestionnaire-image-admin
**/
.contner_multiple_media ul li{
	position: relative;
	display: inline-block;
	margin: 0 10px 10px 0;
	border: none;
    background: none;
    width: 150px;
    height: 150px;
    border: 2px dashed rgb(240,240,240);
}
.contner_multiple_media ul li.null{ display: none; }
.contner_multiple_media ul li.add_multiple_media_wpextend a{
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
	line-height: 150px;
	font-size: 2.5em;
}
.contner_multiple_media ul.sortable li{
	cursor: move;
}
	.contner_multiple_media ul li img,
	.contner_multiple_media ul li .file{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		max-height: 100%;
	}
	.contner_multiple_media ul li .file{
		width: 150px;
    	height: 150px;
    	background: rgb(250,250,250);
    	word-wrap: break-word;
	    padding: 10px;
	    box-sizing: border-box;
	    text-align: center;
	    vertical-align: middle;
	    line-height: 150px;
	}
		.contner_multiple_media ul li .file span,
		.contner_multiple_media ul li .file a{
			display: inline-block;
			width: 100%;
			line-height: 18px;
		}
.single_media_wpextend .link_upload_multiple_media_wpextend,
.single_media_wpextend .remove_multiple_media_wpextend{
	display:none;
	position: absolute;
	top: 10px;
	color: #0085ba;
	background: #f1f1f1;
	cursor: pointer;
}
.single_media_wpextend .link_upload_multiple_media_wpextend{
	left: 10px;
}
.single_media_wpextend .remove_multiple_media_wpextend{
	right: 10px;
}
.contner_multiple_media ul li:hover > .link_upload_multiple_media_wpextend,
.contner_multiple_media ul li:hover > .remove_multiple_media_wpextend{
	display: inline-block;
	text-decoration: none;
}
	.single_media_wpextend .link_upload_multiple_media_wpextend:hover,
	.single_media_wpextend .remove_multiple_media_wpextend:hover{
		color: #006799;
		background: white;
	}