/**
 * Input
 *
 */
body.wp-admin {

    .input_text_wpextend {
        
        padding: 10px 0;
        text-indent: 10px;
        width: 100%;
    }

    .input_link_wpextend {
        
        padding: 10px 0;
        text-indent: 10px;
        width: 100%;
    }
}

.container_sliderange {
    
    display: table;

    .div_sliderrange {

        margin-bottom: 10px;
    }
}